## DATA ANAYLSIS

### Who is a Data anaylst
    Is a person who uses data to answer Questions.
    
### Data Anaylsis Process

- Question 
    ie. How to stock a Store
    ie.


- Data Wrangle
    1. Data Gathering
    2. Data Cleaning
    

- Explore (E.D.A)
    1. Build Intution 
    2. Find patterns

- Draw Conclusion (-Make Predictions)
    ie. Which product Costomers like
    

- Communicate [-Blog Post,Paper,E-mail]
    1. Data visualization

##  Data Gathering:
1. Downloading Files
2. Get from An Api
3. Scraping Data from a Web Page
4. Combine Data from diffrent Formats.


#### 1. csv - comma ,seperated , Values
#### 2. Exel- xlsx 
#### 3. txt
#### 4. json

#### Simple Example

In [1]:
# lets create a simple Data

users = [
    ['sam',20,'computer science','2nd Year','male'],
     ['dave',20,'Bsc Maths','1st Year','male'],
     ['jane',20,'IT','3nd Year','female'],
]
users

[['sam', 20, 'computer science', '2nd Year', 'male'],
 ['dave', 20, 'Bsc Maths', '1st Year', 'male'],
 ['jane', 20, 'IT', '3nd Year', 'female']]

In [2]:
# lets save the file now into csv.
# we will need to import some libs

import pickle
import pandas as pd

In [3]:
# Now lets do some pickeling
# lets create a directory for our dataset

!mkdir Datasets

In [10]:
with open('Datasets/users.csv','wb') as file:
    pickle.dump(users,file)

In [14]:
# data = pd.read_csv('Datasets/users.csv',delimiter=',')
# data

data = pd.DataFrame(users)
data.describe()

          1
count   3.0
mean   20.0
std     0.0
min    20.0
25%    20.0
50%    20.0
75%    20.0
max    20.0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
0    3 non-null object
1    3 non-null int64
2    3 non-null object
3    3 non-null object
4    3 non-null object
dtypes: int64(1), object(4)
memory usage: 200.0+ bytes

In [16]:
data.head()

      0   1                 2         3       4
0   sam  20  computer science  2nd Year    male
1  dave  20         Bsc Maths  1st Year    male
2  jane  20                IT  3nd Year  female